# .gitignore

# Python cache files
__pycache__/
*.pyc
*.pyo

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg


# VSCode settings
.vscode/

# SQLite database (if you don't want to track the database in git, which is generally recommended)
eevee.db
*.db

# Python environment files
env/
venv/
ENV/

# macOS system files
.DS_Store

# .env files containing environment variables
.env
.env.*